.quarto/
.Rproj.user/
_book/
.DS_Store
.aws.json
.Rhistory
.luarc.json
Part-One.log
Part-One.aux
Part-One.out
Part-One.tex
Part-One.toc
Part-One.pdf
index.log
index.aux
index.out
index.tex
index.toc
index.pdf
resources/drugbase.Rds

/.quarto/
